#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  /* text-align: center; */
}

html {
  font-size: 62.5%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 36rem;
  overflow: hidden;
  box-shadow: 0 0 12rem rgba(0, 0, 0, 0.5);
}
